{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/menu.html' %}

<main id="blog-single">

    <!-- CUSTOM CURSOR -->
    <div class="cursor scale"></div>
    <div class="cursor-two scale"></div>
    <!-- CUSTOM CURSOR -->

    <!-- PRELOADER -->
    <div id="preloader">
        <div class="p">
            <img src="{% static 'images/robo.png' %}" alt="headphone">
        </div>
        <br>
        <div class="p">Pegue um café e venha conhecer meus projetos :)</div>
    </div>
    <!-- PRELOADER -->

    <div id="blog-one-content">


  <!-- HEADING -->
  <div class="heading">
      <div class="text">
        {{projeto.titulo_projeto}}
      </div>
  </div>
  
  <!-- HEADING -->

  <div class="center">
    <div class="center-para">

  <!-- BLOG TEXT -->
<div class="blog-text">

    <!-- BLOG INFO -->

    <div class="blog-info">
      <div class="blog-date text-scroll">{{projeto.data_pub}}</div>
    </div>
    <br>
    <!-- BLOG INFO -->


  <!-- BLOG HEADING -->
  <div class="blog-heading text-scroll">
    {% if projeto.id == 1 or 2 or 3%}
      <div class="blog-duration"><img style='margin-right: 5px' src="{% static 'images/icones_linguagens/python.png' %}" alt="clock"><img style='margin-right: 5px' src="{% static 'images/icones_linguagens/django.png' %}" alt="clock"><img src="{% static 'images/icones_linguagens/postgresql.png' %}" alt="clock">&nbsp;</div>
    {% endif %}
  </div>

  <!-- BLOG HEADING -->

    <!-- PARAGRAPH -->
    <div class="para text-scroll">
       {{projeto.texto1_projeto}}
        </div>
      <!-- PARAGRAPH -->

        <!-- PARAGRAPH -->
    <div class="para text-scroll">
        {{projeto.texto2_projeto}}
         </div>
       <!-- PARAGRAPH -->

       <div class="para text-scroll">
        <a href="{{projeto.link_projeto}}" target="_blank" class="text-scroll hover ">CLIQUE AQUI PARA IR ATÉ O PROJETO.</a>
         </div>

       <!-- SHARE LINKS -->

       <div class="share-links para">
         <ul>
          <li class="text-scroll">Siga-me:</li>
          <li ><a href="{{sobre.link_linkedin}}"  class="text-scroll hover "><img src="{% static 'images/linkedin.png' %}" alt="clock"></a></li>
      </ul>
       </div> 

       <!-- SHARE LINKS -->

       <div class="signature">
        <span class="text-scroll"></span> 
     </div>

</div>

</div>

  <!-- BLOG TEXT -->




  </div>

  
<!-- progress-bar -->
<div class="progress-bar-container fade-in">
    <div class="progressbar"></div>
</div>
<!-- progress-bar -->

             </div>
</main>

{% include 'partials/footer.html' %}
{% endblock %}
